<ion-header>
  <ion-toolbar>
    <ion-title>Add Player</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="construct-outline" class="maintenance-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input
        [(ngModel)]="firstName"
        name="firstName"
        type="text"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input
        [(ngModel)]="lastName"
        name="lastName"
        type="text"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Guest</ion-label>
      <ion-checkbox
        [(ngModel)]="isGuest"
        name="isGuest"
        [disabled]="true"
      ></ion-checkbox>
    </ion-item>

    <ion-button expand="full" type="submit" color="primary">
      Submit
    </ion-button>
  </form>

  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>

  <ion-text color="success" *ngIf="successMessage">
    <p>{{ successMessage }}</p>
  </ion-text>
</ion-content>