.add-button {
    color: green !important; // Ensure button text is white
  }
  
  .disabled-button {
    background-color: lightgrey !important;
    color: white !important;
    cursor: not-allowed;
  }
  
  .plus-icon {
    color: white !important; // Ensures the plus icon is black
    font-size: 1.2em; // Adjust size as needed
  }