<ion-header>
  <ion-toolbar>
    <ion-title>Pinball</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="construct-outline" class="maintenance-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Search and Add Machines -->
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="onSearchChange($event)"
    placeholder="Search Pinball Machines"
    debounce="250">
  </ion-searchbar>

  <!-- Search Results Section -->
  <ion-card *ngIf="searchResults.length > 0 || searchTerm.length > 1">
    <ion-card-header>
      <ion-card-title>Search Results</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let machine of searchResults">
          <ion-label>
            <h2>{{ machine.name }}</h2>
            <p>Manufacturer: {{ machine.manufacturer.name || 'Unknown' }}</p>
            <p>Short Name: {{ machine.shortname || 'N/A' }}</p>
            <p>Manufacture Date: {{ machine.manufacture_date | date:'mediumDate' }}</p>
          </ion-label>
          <div slot="end">
            <!-- Conditionally show either the add button or the "Already Active" text -->
            <ion-text color="success" *ngIf="machine.added">
              <p>Already Active</p>
            </ion-text>
            <ion-button
              *ngIf="!machine.added"
              (click)="addMachine(machine)"
              fill="solid"
            >
              <ion-icon name="add" class="plus-icon"></ion-icon>
            </ion-button>
          </div>
        </ion-item>
      </ion-list>

      <!-- No Results Message -->
      <ion-card *ngIf="searchResults.length === 0 && searchTerm.length > 1">
        <ion-card-content>
          No results found.
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>

  <!-- Active Machines List -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Active Pinball Machines</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let pinball of existingPinballs">
          <ion-label>
            <h2>{{ pinball.long_name }}</h2>
            <p>Abbreviation: {{ pinball.abbreviation }}</p>
            <p>Room: {{ pinball.room }}</p>
          </ion-label>
          <!-- Activated trash button to trigger the deletion confirmation -->
          <ion-button fill="clear" slot="end" color="danger" (click)="confirmDeletePinball(pinball)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Success and Error Messages -->
  <ion-text color="success" *ngIf="successMessage">
    <p>{{ successMessage }}</p>
  </ion-text>

  <ion-text color="danger" *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </ion-text>
</ion-content>