<ion-header>
  <ion-toolbar>
    <ion-title>Scores</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="construct-outline" class="maintenance-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Search Bar with Reset Icon -->
  <ion-grid class="search-grid">
    <ion-row>
      <ion-col>
        <ion-searchbar
          [(ngModel)]="searchTerm"
          (ionInput)="filterPinballMachines()"
          placeholder="Search Pinball Machines or Players"
          debounce="250">
        </ion-searchbar>
      </ion-col>
      <ion-col size="auto" class="reset-button-col">
        <ion-button fill="clear" (click)="resetFilters()">
          <ion-icon slot="icon-only" name="refresh-circle"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Score Filter Toggle -->
  <ion-segment [(ngModel)]="scoreFilter" (ionChange)="loadScores()" class="segment-margin">
    <ion-segment-button value="latest">
      <ion-label>Latest Scores</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all">
      <ion-label>All Scores</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Error Message Display -->
  <ion-card *ngIf="errorMessage">
    <ion-card-content>
      {{ errorMessage }}
    </ion-card-content>
  </ion-card>

  <!-- Waiting for Scores Message -->
  <ion-card
    *ngIf="!errorMessage && filteredPinballMachines.length === 0"
    class="no-scores-message">
    <ion-card-content>
      <div class="centered-content">
        <ion-icon name="sad-outline" class="sad-icon"></ion-icon>
        <p>No scores available.</p>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Display Filtered Pinball Machines -->
  <ng-container *ngFor="let machine of filteredPinballMachines">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ machine.long_name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let score of scoresByMachine[machine.abbreviation]">
            <ion-label>
              <h2>{{ getPlayerName(score.player_abbreviation) }}</h2>
              <p>{{ score.date | date }}</p>
            </ion-label>
            <ion-label class="score-column" slot="end">
              <h2>{{ score.points | number }}</h2>
            </ion-label>
            <ion-button
              slot="end"
              color="danger"
              fill="clear"
              (click)="confirmDelete(score)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>