<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="scores">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Scores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="player">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Player</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pinball">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Pinball</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>